body {
	background: url(bdt.jpg) no-repeat center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.page-header {
	font-family: 'Orbitron', sans-serif;
	color: green;
	background-color: black;
}

.form-control {
	text-align: center;
	margin-right: 100px;
}

.btn {
	color: green;
}

#retour {
	display: none;
}

#Menus {
	margin-top: 170px;
	text-align: center;
}

.menu1 {
	margin-top: 20px;
}

.menu2 {
	margin-top: 20px;
}

.menu3 {
	margin-top: 20px;
}

.questionnaire1 {
	display: none;
	margin-left: 100px;
	margin-right: 100px;
}

.questionnaire2 {
	display: none;
	margin-left: 100px;
	margin-right: 100px;
}

.intro2 {
	color: green;
	font-family: 'Orbitron', sans-serif;
}

#hall1-bis {
	display: none;
}

#hall2-bis {
	display: none;
}

.questionnaire3 {
	display: none;
	margin-left: 100px;
	margin-right: 100px;
}

#collectif {
	display: none;
}

#poubelle {
	display: none;
}

#foot {
	display: none;
}

#enfant {
	display: none;
}

.passage_bis {
	display: none;
}

/* footer */

.footer {
	margin-top: 200px;
	color: white;
}