<div class="page-header">
	<h1>Amicale des Beaudottes</h1>  <button id="retour" <%= link_to "Retour", root_path %> </button>
</div>


<div class="row menu1">
	<div class="col-md-offset-4 col-md-4 col-md-offset-4">
		<button type="button" class="btn btn-default">Mon appartement</button></br>
	</div>
	<div class="questionnaire1 text-center">
		<form action=''>
			<input type="texte" value="nom"> </br>
			<input type="text" value="prénom"> </br>
			<input type="texte" value="Téléphone"> </br>
			<select id="voie" class="form-control">
				<option>Voie</option>
				<option>Francis Garnier</option>
				<option>Pérouse</option>
				<option>Bougainville</option>
				<option>Jacques Cartier</option>
				<option>Champlain</option>
			</select>
			<div class="text-center">
				<textarea class="form-control" rows="4"></textarea>
				<input type="submit" value="Envoyer">
			</div>
		</form>
				<%= render "layouts/webcam" %>
</div>
</div>

<div class="row menu2">
	<div class="col-md-offset-4 col-md-4 col-md-offset-4">
		<button type="button" class="btn btn-default">Espaces intérieurs</button>
	</div>
</div>

<div class="row">
	<div class="questionnaire2 text-center">
		<button type="button" class="btn btn-default hall1"> Hall d'entrée </button> <button type="button" class="btn btn-default hall2"> Hall à l'étage</button>
	</div>	
	<div id="hall1-bis">
		<form action=''>
			<input type="texte" value="nom"> </br>
			<input type="text" value="prénom"> </br>
			<input type="texte" value="Téléphone"> </br>
			<select id="voie1" class="form-control">
				<option>voie</option>
				<option>Francis Garnier</option>
				<option>Pérouse</option>
				<option>Bougainville</option>
				<option>Jacques Cartier</option>
				<option>Champlain</option>					
			</select>
			<div class="text-center">
				<textarea class="form-control" rows="3"></textarea>
				<input type="submit" value="Envoyer">
			</div>
		</form>
	</div>
</div>
</div>

<div id="hall2-bis">
	<form action=''>
		<input type="texte" value="nom"> </br>
		<input type="text" value="prénom"> </br>
		<input type="texte" value="Téléphone"> </br>
		<select id="voie2" class="form-control">
			<option>voie</option>
			<option>Francis Garnier</option>
			<option>Pérouse</option>
			<option>Bougainville</option>
			<option>Jacques Cartier</option>
			<option>Champlain</option>					
		</select>
		<textarea class="form-control" rows="3"></textarea>
		<input type="submit" value="Envoyer">
	</form>
</div>	

<div class="row menu3">
	<div class="col-md-offset-4 col-md-4 col-md-offset-4">
		<button type="button" class="btn btn-default">Espaces extérieurs</button>
	</div>
</div>

<div class="questionnaire3">
	<button type="button" class="btn btn-default passage"> Sur une voie de passage </button> <button type="button" class="btn btn-default collectif"> Un équipement collectif </button>
</div>

<div id="collectif">
	<button type="button" class="btn btn-default poubelle"> Local à poubelles </button> <button type="button" class="btn btn-default foot"> Terrain de foot </button> 
	<button type="button" class="btn btn-default enfant"> Espace enfant </button>
</div>

<div id="poubelle">
	<form class="text-center" action=''>
		<input type="texte" value="nom"> </br>
		<input type="text" value="prénom"> </br>
		<input type="texte" value="Téléphone"> </br>
		<select id="voie3" class="form-control">
			<option>voie</option>
			<option>Francis Garnier</option>
			<option>Pérouse</option>
			<option>Bougainville</option>
			<option>Jacques Cartier</option>
			<option>Champlain</option>					
		</select>
		<textarea class="form-control" rows="3"></textarea>
		<input type="submit" value="Envoyer">
	</form>
</div>

<div id="foot">
	<form action=''>
		<textarea class="form-control" rows="3"></textarea>
		<input type="texte" value="nom"> </br>
		<input type="text" value="prénom"> </br>
		<input type="texte" value="Téléphone"> </br>
		<input type="submit" value="Envoyer">
	</form>
</div>

<div id="enfant">
	<form action=''>
		<textarea class="form-control" rows="3"></textarea>
		<input type="texte" value="nom"> </br>
		<input type="text" value="prénom"> </br>
		<input type="texte" value="Téléphone"> </br>
		<input type="submit" value="Envoyer">
	</form>
</div>

<div class="passage_bis">
	<form action=''>
		<input type="texte" value="nom"> </br>
		<input type="text" value="prénom"> </br>
		<input type="texte" value="Téléphone"> </br>
		<select id="voie4" class="form-control">
			<option>voie</option>
			<option>Francis Garnier</option>
			<option>Pérouse</option>
			<option>Bougainville</option>
			<option>Jacques Cartier</option>
			<option>Champlain</option>					
		</select>
		<textarea class="form-control" rows="3"></textarea>
		<input type="submit" value="Envoyer">
	</form>
</div>
</div>
</div>
</div>
</div>